/* Resetando margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #929292;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

h1 {
    font-size: 700%;
    text-align: center;
    margin-top: -10%;
    color: #fff;
}

h2 {
    text-align: center;
    font-size: 500%;
}

.part1 {
    background-color: rgb(240, 240, 240);
    margin-top: -0.6%;
}

#apple {
    margin-left: 47%;
}

.part2 {
    text-align: center;
    margin-top: 35%;
    font-size: 140%;
}

.botao {
    border-radius: 50px;
    background-color: rgb(69, 112, 255);
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

#iphone16 {
    margin-left: 0%;
}

#i16 {
    margin-top: 10%;
    margin-left: 8%;
}

.part3 {
    margin-left: 5%;
    margin-top: -5%;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.trilho {
    width: 100px;
    height: 50px;
    background-color: #4d4d4d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.trilho.dark .indicador {
    left: 150px;
    background-color: #fff;
}

.trilho.dark {
    background-color: #c3c3c3;
}

body.dark {
    background-color: #e4e4e4;
}

body.dark h1 {
    color: black;
}

/* Responsividade */
@media (max-width: 768px) {
    #apple {
        margin-left: 0;
    }

    .part1 {
        margin-left: 0;
    }

    .part2 {
        margin-top: 20%;
    }

    #iphone16 {
        width: 100%;
        margin: 0;
    }
}
